*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    overflow-x: hidden; /* Prevent horizontal scrolling on the entire page */
}

.instagram-home-page{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "left-aside main-header right-aside"
    "left-aside main-feed right-aside";
    /* grid-template-areas: 
    "left-aside main-header right-aside"
    "left-aside main-feed right-aside"; */
    min-height: 100vh;
    width:100vw;
}

.home-header{
    grid-area: main-header;
    background-color: yellow;
}

.home-left-side-bar{
    grid-area: left-aside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
}

.home-feed{
    grid-area: main-feed;
    overflow-x: hidden;
}

.home-right-suggestion{
grid-area: right-aside;
background-color: blanchedalmond;
}

.home-header{
    color: green;
}

.instagram-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;

}