
.search-bar-container{
    width: 397px;
    height: 100vh;
    position:absolute;
    top:0;
    left:72px;
    border-bottom-right-radius:16px;
    border-top-right-radius:16px;
    opacity: 1;
}

.search-span{
color: black;

font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 24px;
font-weight: 600;
}

.search-box{
    height: 40px;
    min-width: 125px;
    width: 100%;
    margin-bottom:24px;
    display: flex;
    align-items: center;
    
}

.search-input{
    border-radius: 8px;
    border: none;
    padding: 8px 16px 8px 16px;
    background-color: rgb(239, 239, 239);
    outline: none;
}